<!DOCTYPE html>
<html>
<head>
	<title>Register User </title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="main-body width-100">
	<div class="width-60">	
		<img src="/images/Reg-Back.jpeg" width="800" height="600" />
			@RenderSection("Errors",false)
		<div class="">
			<a class="button register-img-button-pos register-btn-custm-size" asp-area="" asp-controller="Register" asp-action="RegisterUser">Register User</a>
		</div>
	</div>
	<div class="main">
		@RenderBody()
	</div>
</body>
</html>